/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
	
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.tagline{
   padding:0 .6rem;
   margin:auto;
   text-align: center;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .75em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}




/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 48px;
}
._col {
/* background-color: #ccc; */
margin:5px;
/* display: flex;
flex-direction: column; */
	padding:1.3rem 3rem
}
a.btn-in-container{
	align-self: flex-end;
	padding: 10px;
	background-color: #3acec2;
	margin-top: auto;
	/* align-items: flex-end; */
}



.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

#popcorn_and_coke{
   height:200px;
   border-radius: 5px;
}

#wraper_for_footer{
   min-height: calc(100vh - 89.59px);
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

